<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Data Wrangling I
Caderno de **Aula**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>DataFrame Pandas;</li>
  <li>Selecão e Filtros;</li>
  <li>Inserção, Deleção e Atualização.</li>
</ol>

---

# **Aulas**

## 0\. Estruturas de dados

*   **Não estruturado**: texto, imagem, aúdio, etc.
*   **Semi estruturado**: html, json, etc.
*   <font color='red'>**Estruturado**</font>: tabelas, planilhas, etc.

## 1\. DataFrame Pandas

### **1.1. Pacote Pandas**

Pacote Python para manipulação de dados (talvez o mais utilizado). A documentação pode ser encontrada neste [link](https://pandas.pydata.org/docs/). A abstração base do pandas é o DataFrame, uma estrutura de dados Python de duas dimensões utilizado para representar tabelas.

**Exemplo**: Criar um DataFrame Pandas a partir de um dicionário Python.

In [2]:
transacoes = dict(
    id=[571, 572, 573], 
    data=['19-01-2021', '19-01-2021', '23-01-2021'], 
    valor=[371.30, 57.19, 101.21], 
    categoria=['supermercado', 'farmacia', 'outros']
)

In [3]:
import pandas as pd

transacoes_df = pd.DataFrame(transacoes)

In [4]:
transacoes_df

    id        data   valor     categoria
0  571  19-01-2021  371.30  supermercado
1  572  19-01-2021   57.19      farmacia
2  573  23-01-2021  101.21        outros

In [5]:
type(transacoes_df)

pandas.core.frame.DataFrame

*   Atributos

In [6]:
transacoes_df.columns

Index(['id', 'data', 'valor', 'categoria'], dtype='object')

In [7]:
transacoes_df.dtypes

id             int64
data          object
valor        float64
categoria     object
dtype: object

In [8]:
transacoes_df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
transacoes_df.shape

(3, 4)

*   Métodos

In [10]:
transacoes_df.head(n=1)

    id        data  valor     categoria
0  571  19-01-2021  371.3  supermercado

In [11]:
transacoes_df.tail()

    id        data   valor     categoria
0  571  19-01-2021  371.30  supermercado
1  572  19-01-2021   57.19      farmacia
2  573  23-01-2021  101.21        outros

In [12]:
transacoes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3 non-null      int64
 1   data       3 non-null      object
 2   valor      3 non-null      float64
 3   categoria  3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 224.0+ bytes

In [84]:
transacoes_df[['id', 'valor']].describe().T # colunas numéricas

       count        mean         std     min    25%     50%      75%    max
id       3.0  572.000000    1.000000  571.00  571.5  572.00  572.500  573.0
valor    3.0  176.566667  170.074229   57.19   79.2  101.21  236.255  371.3

In [14]:
transacoes_df[['data', 'categoria']].describe().T # colunas categóricas

          count unique         top freq
data          3      2  19-01-2021    2
categoria     3      3    farmacia    1

**Exemplo**: Criar um DataFrame Pandas a partir de um arquivo csv.

In [15]:
%%writefile github.csv
ranking;project;language;stars;stars_today;forks
1;plow;go;1304;574;38
2;n8n;typescript;15668;280;1370
3;slides;go;3218;265;80
4;defi-developer-road-map;;636;247;49
5;pytorch-image-models;python;11065;101;1646
6;javascript-algorithms;javascript;110768;248;18331
7;paddleclas;python;1429;283;323
8;reddit_sentiment_trader;python;369;71;60
9;augly;python;2849;393;99
10;self-taught-guide-to-cloud-computing;;863;179;84

Writing github.csv

In [16]:
import pandas as pd

github_df = pd.read_csv('github.csv', sep=';')

In [17]:
github_df

   ranking                               project  ... stars_today  forks
0        1                                  plow  ...         574     38
1        2                                   n8n  ...         280   1370
2        3                                slides  ...         265     80
3        4               defi-developer-road-map  ...         247     49
4        5                  pytorch-image-models  ...         101   1646
5        6                 javascript-algorithms  ...         248  18331
6        7                            paddleclas  ...         283    323
7        8               reddit_sentiment_trader  ...          71     60
8        9                                 augly  ...         393     99
9       10  self-taught-guide-to-cloud-computing  ...         179     84

[10 rows x 6 columns]

In [18]:
type(github_df)

pandas.core.frame.DataFrame

*   Atributos

In [19]:
github_df.columns

Index(['ranking', 'project', 'language', 'stars', 'stars_today', 'forks'], dtype='object')

In [20]:
github_df.dtypes

ranking         int64
project        object
language       object
stars           int64
stars_today     int64
forks           int64
dtype: object

In [21]:
github_df.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
github_df.shape

(10, 6)

*   Métodos

In [23]:
github_df.head(3)

   ranking project    language  stars  stars_today  forks
0        1    plow          go   1304          574     38
1        2     n8n  typescript  15668          280   1370
2        3  slides          go   3218          265     80

In [24]:
github_df.tail(2)

   ranking                               project  ... stars_today  forks
8        9                                 augly  ...         393     99
9       10  self-taught-guide-to-cloud-computing  ...         179     84

[2 rows x 6 columns]

In [25]:
github_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ranking      10 non-null     int64
 1   project      10 non-null     object
 2   language     8 non-null      object
 3   stars        10 non-null     int64
 4   stars_today  10 non-null     int64
 5   forks        10 non-null     int64
dtypes: int64(4), object(2)
memory usage: 608.0+ bytes

In [26]:
github_df[['project', 'language']].describe().T # colunas categóricas

         count unique     top freq
project     10     10    plow    1
language     8      4  python    4

In [27]:
github_df[['ranking', 'stars', 'stars_today', 'forks']].describe().T # colunas numéricas

             count     mean           std  ...     50%      75%       max
ranking       10.0      5.5      3.027650  ...     5.5     7.75      10.0
stars         10.0  14816.9  34100.448392  ...  2139.0  9103.25  110768.0
stars_today   10.0    264.1    143.351510  ...   256.5   282.25     574.0
forks         10.0   2208.0   5695.945615  ...    91.5  1108.25   18331.0

[4 rows x 8 columns]

### **1.2. Anatomia de um DataFrame**

*   **Série**: `Coluna` de um DataFrame;
*   **Índice**: Indentificador de uma `linha` de um DataFrame.

In [28]:
github_df

   ranking                               project  ... stars_today  forks
0        1                                  plow  ...         574     38
1        2                                   n8n  ...         280   1370
2        3                                slides  ...         265     80
3        4               defi-developer-road-map  ...         247     49
4        5                  pytorch-image-models  ...         101   1646
5        6                 javascript-algorithms  ...         248  18331
6        7                            paddleclas  ...         283    323
7        8               reddit_sentiment_trader  ...          71     60
8        9                                 augly  ...         393     99
9       10  self-taught-guide-to-cloud-computing  ...         179     84

[10 rows x 6 columns]

## 2\. Seleção e Filtros

### **2.1. Série**

Uma **série** é uma **coluna** de um **dataframe**. Para selecionar uma coluna utilizamos a seguinte notação (similiar a indexação de listas Python):

```python
serie = dataframe['<nome-da-coluna>']
```

**Nota**: Repare no uso das chaves simples `[ ]`.

*   **Exemplo**: Coluna linguagem de programação do dataframe `github_df`:

In [99]:
linguagem_serie = github_df['language']

In [100]:
linguagem_serie

0             go
1     typescript
2             go
3            NaN
4         python
5     javascript
6         python
7         python
8         python
9            NaN
10    typescript
Name: language, dtype: object

In [31]:
type(linguagem_serie)

pandas.core.series.Series

In [32]:
projeto_serie = github_df['project']
projeto_serie

0                                    plow
1                                     n8n
2                                  slides
3                 defi-developer-road-map
4                    pytorch-image-models
5                   javascript-algorithms
6                              paddleclas
7                 reddit_sentiment_trader
8                                   augly
9    self-taught-guide-to-cloud-computing
Name: project, dtype: object

#### 2.1.1 Seleção

*   **Exemplo**: Indexação simples com método `loc` (similar a lista Python):

In [33]:
top_1_linguagem = linguagem_serie.loc[0]

In [34]:
top_1_linguagem

'go'

In [35]:
type(top_1_linguagem)

str

In [36]:
#Extaindo a liguagem java:
java_linguagem = linguagem_serie.loc[5]
java_linguagem

'javascript'

In [37]:
#3 últimas linguagens:
ultimas_3_linguagem = linguagem_serie.loc[7:9]
ultimas_3_linguagem

7    python
8    python
9       NaN
Name: language, dtype: object

*   **Exemplo**: Fatiamento ou *slicing* com método `loc` (similar a lista Python):

In [38]:
top_5_linguagem = linguagem_serie.loc[0:5]

In [39]:
top_5_linguagem

0            go
1    typescript
2            go
3           NaN
4        python
5    javascript
Name: language, dtype: object

In [40]:
type(top_5_linguagem)

pandas.core.series.Series

#### 2.1.2 Filtros

*   **Exemplo**: Filtro funcional:

In [41]:
linguagem_serie[lambda linguagem: (linguagem == 'python') | (linguagem == 'javascript')]

4        python
5    javascript
6        python
7        python
8        python
Name: language, dtype: object

*   **Exemplo**: Filtro funcional com novos índices:

In [42]:
linguagem_serie[lambda linguagem: (linguagem == 'python') | (linguagem == 'javascript')].reset_index(drop=True)
#Com índices "resetados"

0        python
1    javascript
2        python
3        python
4        python
Name: language, dtype: object

### **2.2. DataFrame**

Um **conjunto** de **colunas** ou **séries** é um novo **dataframe**. Para selecionar um conjunto de colunas utilizamos a seguinte notação:

```python
novo_dataframe = dataframe[['<nome-da-coluna-a>', '<nome-da-coluna-b>', ...]]
```

**Nota**: Repare no uso das chaves duplas `[[ ]]`.

*   **Exemplo**: Colunas ranking e linguagem de programação do dataframe `github_df`:

In [98]:
ranking_linguagem_df = github_df[['ranking', 'language']]

In [44]:
ranking_linguagem_df

   ranking    language
0        1          go
1        2  typescript
2        3          go
3        4         NaN
4        5      python
5        6  javascript
6        7      python
7        8      python
8        9      python
9       10         NaN

In [45]:
type(ranking_linguagem_df)

pandas.core.frame.DataFrame

#### 2.2.1 Seleção

*   **Exemplo**: Indexação simples (linha) com método `loc` (similar a lista Python):

In [46]:
top_1_linguagem = ranking_linguagem_df.loc[0]

In [47]:
top_1_linguagem

ranking      1
language    go
Name: 0, dtype: object

In [48]:
type(top_1_linguagem)

pandas.core.series.Series

*   **Exemplo**: Indexação simples (linha e coluna) com método `loc` (similar a lista Python):

In [49]:
top_1_linguagem = github_df.loc[0, ['ranking', 'language']]

In [50]:
top_1_linguagem

ranking      1
language    go
Name: 0, dtype: object

In [51]:
type(top_1_linguagem)

pandas.core.series.Series

*   **Exemplo**: Fatiamento ou *slicing* (linhas) com método `loc` (similar a lista Python):

In [52]:
top_5_ranking_linguagem = ranking_linguagem_df.loc[0:5]

In [53]:
top_5_ranking_linguagem

   ranking    language
0        1          go
1        2  typescript
2        3          go
3        4         NaN
4        5      python
5        6  javascript

In [54]:
type(top_5_ranking_linguagem)

pandas.core.frame.DataFrame

*   **Exemplo**: Fatiamento ou *slicing* (linhas e colunas) com método `loc` (similar a lista Python):

In [55]:
top_5_ranking_linguagem = github_df.loc[0:5, ['ranking', 'language']]

In [56]:
top_5_ranking_linguagem

   ranking    language
0        1          go
1        2  typescript
2        3          go
3        4         NaN
4        5      python
5        6  javascript

In [57]:
type(top_5_ranking_linguagem)

pandas.core.frame.DataFrame

**Exemplo - extração das linhas 1-5 para as colunas linguagem e estrelas:**

In [58]:
languages_stars = github_df.loc[0:4,['language','stars']]
languages_stars

     language  stars
0          go   1304
1  typescript  15668
2          go   3218
3         NaN    636
4      python  11065

#### 2.2.2 Filtros

*   **Exemplo**: Filtro com o método `query`:

In [59]:
ranking_linguagem_df.query('language == "python"')

   ranking language
4        5   python
6        7   python
7        8   python
8        9   python

In [60]:
ranking_linguagem_df.query('language == "python" & ranking > 5')

   ranking language
6        7   python
7        8   python
8        9   python

In [61]:
ranking_linguagem_df.query('language == "python" | language == "go"')

   ranking language
0        1       go
2        3       go
4        5   python
6        7   python
7        8   python
8        9   python

In [88]:
forks_filtro = github_df.query('forks >= 80')
forks_filtro[['forks']]

    forks
1    1370
2      80
4    1646
5   18331
6     323
8      99
9      84
10    115

## 3\. Inserção, Deleção e Atualização

### **3.1. Série**

#### 3.1.1 Inserção

*   **Exemplo**: Adição de elementos com o método `append`:

In [89]:
linguagem_serie.append(pd.Series(['java', 'python']), ignore_index=True)

0            Go
1    Typescript
2            Go
3           NaN
4    javascript
5           NaN
6          java
7          java
8        python
dtype: object

**Adicionando liguagens LaTeX, Matlab e R**:

In [103]:
linguagem_serie = linguagem_serie.append(pd.Series(['LaTeX', 'Matlab', 'R']), ignore_index=True)

In [104]:
linguagem_serie

0             go
1     typescript
2             go
3            NaN
4         python
5     javascript
6         python
7         python
8         python
9            NaN
10    typescript
11          java
12         LaTeX
13        Matlab
14             R
dtype: object

**Deletedando a linguagem LaTeX, já que é um sistema de tipografica programável**:

In [106]:
linguagem_serie = linguagem_serie[lambda linguagem: linguagem != 'LaTeX' ]
linguagem_serie.tail()

9            NaN
10    typescript
11          java
13        Matlab
14             R
dtype: object

#### 3.1.2 Deleção

*   **Exemplo**: Remoção de elementos com filtro funcional:

In [67]:
linguagem_serie = linguagem_serie[lambda linguagem: linguagem != 'python']

#### 3.1.3 Atualização

*   **Exemplo**: Atualização de elementos com indexação simples:

In [107]:
linguagem_serie.loc[0] = 'Go'

In [108]:
linguagem_serie

0             Go
1     typescript
2             go
3            NaN
4         python
5     javascript
6         python
7         python
8         python
9            NaN
10    typescript
11          java
13        Matlab
14             R
dtype: object

*   **Exemplo**: Atualização de elementos com fatiamento ou *slicing*:

In [112]:
linguagem_serie.loc[0:2] = pd.Series(['Go', 'Typescript', 'Go'])

In [116]:
linguagem_serie[11:14] = pd.Series(['Matlab', 'Matlab','Matlab'])
linguagem_serie

0             Go
1     Typescript
2             Go
3            NaN
4         python
5     javascript
6         python
7         python
8         python
9            NaN
10    typescript
11        Matlab
13        Matlab
14        Matlab
dtype: object

*   **Exemplo**: Atualização de elementos com filtro funcional:

In [122]:
linguagem_serie[lambda linguagem: linguagem == 'python'] = 'Python'

10    False
dtype: bool

In [125]:
linguagem_serie[lambda linguagem: linguagem == 'typescript'] = 'Typescript'

In [126]:
linguagem_serie

0             Go
1     Typescript
2             Go
3            NaN
4         Python
5     javascript
6         Python
7         Python
8         Python
9            NaN
10    Typescript
11        Matlab
13        Matlab
14        Matlab
dtype: object

### **3.2. DataFrame**

#### 3.1.1 Inserção

*   **Exemplo**: Adição de linhas com o método `append`:

In [133]:
projeto = dict(ranking=[11], project=['signoz'], language=['typescript'], stars=[2651], stars_today=[491], forks=[115])

In [134]:
github_df.append(pd.DataFrame(projeto), ignore_index=True)

    ranking                               project  ...  forks  (2, language)
0         1                                  plow  ...     38              -
1         2                                   n8n  ...   1370              -
2         3                                slides  ...     80              -
3         4               defi-developer-road-map  ...     49              -
4         5                  pytorch-image-models  ...   1646              -
5         6                 javascript-algorithms  ...  18331              -
6         7                            paddleclas  ...    323              -
7         8               reddit_sentiment_trader  ...     60              -
8         9                                 augly  ...     99              -
9        10  self-taught-guide-to-cloud-computing  ...     84              -
10       11                                signoz  ...    115              -
11       11                                signoz  ...    115            NaN

[12 rows x 7 columns]

In [138]:
github_df = github_df.append(pd.DataFrame(projeto), ignore_index=True)

In [139]:
github_df

    ranking                               project  ... stars_today  forks
0         1                                  plow  ...         574     38
1         2                                   n8n  ...         280   1370
2         3                                slides  ...         265     80
3         4               defi-developer-road-map  ...         247     49
4         5                  pytorch-image-models  ...         101   1646
5         6                 javascript-algorithms  ...         248  18331
6         7                            paddleclas  ...         283    323
7         8               reddit_sentiment_trader  ...          71     60
8         9                                 augly  ...         393     99
9        10  self-taught-guide-to-cloud-computing  ...         179     84
10       11                                signoz  ...         491    115
11       11                                signoz  ...         491    115

[12 rows x 6 columns]

#### 3.1.2 Deleção

*   **Exemplo**: Remoção de linhas com o método `query`:

In [140]:
github_df.query('language != "Python"')
github_df.query('forks > 50')

    ranking                               project  ... stars_today  forks
1         2                                   n8n  ...         280   1370
2         3                                slides  ...         265     80
4         5                  pytorch-image-models  ...         101   1646
5         6                 javascript-algorithms  ...         248  18331
6         7                            paddleclas  ...         283    323
7         8               reddit_sentiment_trader  ...          71     60
8         9                                 augly  ...         393     99
9        10  self-taught-guide-to-cloud-computing  ...         179     84
10       11                                signoz  ...         491    115
11       11                                signoz  ...         491    115

[10 rows x 6 columns]

#### 3.1.3 Atualização

*   **Exemplo**: Atualização de **um** elemento com o método `loc`:

In [141]:
github_df.loc[0, 'language'] = 'go'

In [142]:
github_df.loc[2, 'language'] = '-'
github_df

    ranking                               project  ... stars_today  forks
0         1                                  plow  ...         574     38
1         2                                   n8n  ...         280   1370
2         3                                slides  ...         265     80
3         4               defi-developer-road-map  ...         247     49
4         5                  pytorch-image-models  ...         101   1646
5         6                 javascript-algorithms  ...         248  18331
6         7                            paddleclas  ...         283    323
7         8               reddit_sentiment_trader  ...          71     60
8         9                                 augly  ...         393     99
9        10  self-taught-guide-to-cloud-computing  ...         179     84
10       11                                signoz  ...         491    115
11       11                                signoz  ...         491    115

[12 rows x 6 columns]

*   **Exemplo**: Atualização de **diversos** elementos com o método `apply`:

In [82]:
github_df['language'] = github_df['language'].apply(lambda linguagem: 'python' if linguagem == 'Python' else linguagem)

In [144]:
github_df['language'] = github_df['language'].apply(lambda linguagem: 'Java' if linguagem == 'javascript' else linguagem) 
github_df

    ranking                               project  ... stars_today  forks
0         1                                  plow  ...         574     38
1         2                                   n8n  ...         280   1370
2         3                                slides  ...         265     80
3         4               defi-developer-road-map  ...         247     49
4         5                  pytorch-image-models  ...         101   1646
5         6                 javascript-algorithms  ...         248  18331
6         7                            paddleclas  ...         283    323
7         8               reddit_sentiment_trader  ...          71     60
8         9                                 augly  ...         393     99
9        10  self-taught-guide-to-cloud-computing  ...         179     84
10       11                                signoz  ...         491    115
11       11                                signoz  ...         491    115

[12 rows x 6 columns]