<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Computação em Nuvem III
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>AWS EC2;</li>
  <li>AWS SageMaker;</li>
  <li>AWS Acesso Externo.</li>
</ol>

---

# **Exercícios**

## 1\. AWS SageMaker

Replique as atividades do item 2.3 em sua conta.

> **Objeto para o bucket do AWS S3**

In [1]:
%%writefile cotacao.csv
date,usd,eur,gbp
2021-01-21,5.4582,6.1896,7.3980
2021-01-20,5.4191,6.1290,7.3673
2021-01-19,5.4383,6.1676,7.3994
2021-01-18,5.5666,6.3042,7.5672

Writing cotacao.csv

```python
Caminho bucket: 's3://ebac-m40-vinicius/'
```
**Print relacionado:** `Bucket.png`.

In [ ]:
# -- Código de leitura:
import boto3
import pandas as pd

BUCKET = 'ebac-m40-vinicius'

df = pd.read_csv(f's3://{BUCKET}/cotacao.csv')
df.head()

**Prints relacionados:** `Bucket.png`, `Instancia-SageMaker.png` e `Notebook-SageMaker.png`.

---

Após a execução foi realizado o *Shut Down* do notebook e a máquina virtual foi **desligada**.

## 2\. AWS Acesso Externo

Replique as atividades do item 3.1 em sua conta.

In [ ]:
!pip install boto3

> **Configuração das credenciais**

In [3]:
# -- Chave de acesso (ID):
from getpass import getpass
aws_access_key_id = getpass()

··········

In [4]:
# -- Chave de acesso (Chave Secreta):
from getpass import getpass
aws_secret_access_key = getpass()

··········

**Print relacioando:** `Role-IAM.png`.

> **Conectando e interagindo com o bucket do S3**

In [6]:
import boto3
import pandas as pd

client = boto3.client(
    's3',
    aws_access_key_id = aws_access_key_id,
    aws_secret_access_key = aws_secret_access_key
)

BUCKET = 'ebac-m40-vinicius'

client.download_file(BUCKET, 'cotacao.csv', 'cotacao_aws.csv')

In [7]:
# -- Lendo com o pandas:
dados_cotacoes = pd.read_csv('cotacao_aws.csv')
dados_cotacoes.head()

         date     usd     eur     gbp
0  2021-01-21  5.4582  6.1896  7.3980
1  2021-01-20  5.4191  6.1290  7.3673
2  2021-01-19  5.4383  6.1676  7.3994
3  2021-01-18  5.5666  6.3042  7.5672